.headerComBg{
    background-color: #C4C4C4;
}
.headerComponent{
    /* margin-left: 145px;
    margin-right: 145px; */
    width: 80%;
}
.headerMargin{
    margin-top: 73px;
    margin-bottom: 133px;
}
.inputCoin{
    height: 50px;
    width: 407px;
    z-index: 1;
}
.inputStyle{
    display: flex;
}

@media screen and (max-width: 750px) {
    .inputCoin{
        margin-left: 20px;
        height: 50px;
        width: 120%;
        padding-right: 45px;
        z-index: 1;
    }
    .inputStyle{
        display: grid;
    }
    .inputStyle Button{
       width: 50%;
       margin-left: 20px;
    }
    
  }
  
.inputStyle Button{
    /* height: 42px; */
    margin-top: 4px;
    background-color: #3359DE;
    color: white;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
}

/* buy BTC */
.btcBg{
    position: relative;
    top: 48px;
    background-color: #3359DE;
    color: white;
}
.bColor{
    color: white;
}
.inputMargin{
    margin-left: 16px;
    margin-right: 20px;
}
.inputUSD{
    height: 81px;
    width: 462px;
    margin-left: 16px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.usdBtcButton{
    color: #3359DE;
    background-color: white;
    margin-top: 48px;
    margin-right: 20px;
}