.fContainer{
    /* height: 344px; */
    background-color: #3359DE;
}
.fEnd{
    
}
.fEnd h4{
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 20px;
}
.fTopSection{
    height: 287px;
    background-color: #3359DE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .fTopSection{
        display: grid;
    }
  }

.fBottomSection{
    background-color: #2C4FCA;
}
.footerIcon img{
    /* height: 73px; */
    height: 50%;
    /* width: 113px; */
    width: 50%;
    color: white;
}
.footerContuctUs{
    color: white;
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}
.aboutUs h4{
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}
.aboutText{
    margin-right: 50px;
}
.buysellText{
    margin-left: 50px;
}